@keyframes marquee-right {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(-100%);
  }
}

@keyframes marquee-left {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(100%);
  }
}

.animate-marquee-right {
  animation: marquee-right 35s linear infinite;
}

.animate-marquee-left {
  animation: marquee-left 35s linear infinite;
}

.pause-marquee {
  animation-play-state: paused !important;
}
